<edu.rutgers.winlab.mobilityfirst.Configuration>
  <!-- Port number for incoming UDP packets -->
  <listenPort>5001</listenPort>
  <!-- Interface IP address to bind to. Leave blank for "any". -->
  <bindIp>localhost</bindIp>
  <!--  The number of worker threads to use when processing messages.  
        This number is  above and beyond the primary NIO thread which will process 
        messages. If this value is 0 or negative, then 1 worker thread will 
        be used. -->
  <numWorkerThreads>1</numWorkerThreads>
  <!-- True if the server should collect statistics and log them, false for 
       slightly faster code. -->
  <collectStatistics>true</collectStatistics>
  <!-- The hashing algorithm to use.  Should be one of: MD2, MD5, SHA-1, SHA-256, SHA-384, or SHA-512. -->
  <hashAlgorithm>SHA-1</hashAlgorithm>
</edu.rutgers.winlab.mobilityfirst.Configuration>
